{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% for category in categories %}
        <!-- Start posts-entry -->
	    <section class="section">
		    <div class="container">
                <div class="row mb-4">
                    <div class="col-sm-6">
                            <h2 class="posts-entry-title">{{ category.name }}</h2>
                    </div>
                    <div class="row">

                        {% for post in category.post %}
                            <div class="col-lg-4 mb-4">
                                <div class="post-entry-alt">
                                    {% if app.user %}
                                        <a href="{{ path('app_post_show', {'id': post.id}) }}" class="img-link">
                                            <img src="{{ asset('uploads/pictures/' ~ post.picture) }}" alt="{{ post.title }}" style="width: 400px; height: 250px; ">
                                        </a>
                                    {% else %}
                                        <img src="{{ asset('uploads/pictures/' ~ post.picture) }}" alt="{{ post.title }}" style="width: 400px; height: 250px ;">
                                    {% endif %}
                                    <div class="excerpt">
                                        {% if app.user %}
                                            <h2><a href="{{ path('app_post_show', {'id': post.id}) }}">{{ post.title }}</a></h2>
                                        {% else %}
                                            <h2>{{ post.title }}</h2>
                                        {% endif %}
                                        <div class="post-meta align-items-center text-left clearfix">
                                            {% if post.user %}
                                                <figure class="author-figure mb-0 me-3 float-start"><img src="{{ post.user.profilePicture ? asset('uploads/profile_pictures/' ~ post.user.profilePicture) }}" alt="{{ post.user.firstName }}" class="img-fluid"></figure>
                                            {% else %}
                                                <figure class="author-figure mb-0 me-3 float-start"><img src="{{ asset('images/profil.png') }}" alt="Unconnu" class="img-fluid"></figure>   
                                            {% endif %}
                                            <span class="d-inline-block mt-1">Par <a href="#">{{ post.user.firstName }} {{ post.user.lastName }}</a></span>
                                            <span>&nbsp;-&nbsp;{{ post.publishedAt ? post.publishedAt|date('M. jS, Y') : '' }}</span>
                                            <p>{{ post.content }}</p>
                                            {% if app.user %}
                                                <p><a href="{{ path('app_post_show', {'id': post.id}) }}" class="btn btn-sm btn-outline-primary">Lire plus</a></p>
                                            {% endif %}
                                        </div>           
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <li>Pas de post pour cette catégorie</li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <p>Pas de catégories</p>
    {% endfor %}
{% endblock %}